*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

$color-principal: rgb(255, 116, 52);

body{
    min-height: 1200px;
}

.header {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    width: 100px;
    height: 100px;
}

.titulo{
    font-size: 40px;
    span{
        color: $color-principal;
    }
}

.nav{

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        li{
            list-style: none;
            padding: 15px;

            a{
                text-decoration: none;
            }
        }
        li:hover{
            border-bottom: 1px solid black;
        }
        

    }

    &__carrito{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: $color-principal;
        border-radius: 20px;

    }
}



button , .button{
    padding: 0.8rem;
    background: $color-principal;
    color: white;
    border: none;
    border-radius: 3px;

    &:hover{
        background: rgb(205, 67, 67);
        cursor:pointer;
    }

    a{
        text-decoration: none;
    }

    &__finalizarCompra__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;


    }

}
.itemList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px;
    height: 800px;
}

.card__item{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(247, 232, 232);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    h2{
        font-size: 18px;
    }

    img{
        max-width: 150px;
    }

    &__detalle{
        display: flex;
        justify-content: space-around;
        height: 700px;


        &__imagen{
            width: 40%;
           
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(247, 232, 232);

            img{
                max-width: 400px;
            }
        }

        &__info{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(247, 232, 232);

            h2, p{
                margin: 20px;
                max-width: 550px;
            }
        }

        &__precio{
            color: red;
            font-size: 24px;
            padding: 10px;
        }

        &__counter{
            text-align: center;
        }
    }

}

.active{
    color: red;
}

.spinner{
    border: 15px solid rgb(53, 53, 53);
    border-bottom: 15px solid $color-principal;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spinner 0.5s linear infinite;

    &__container{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes spinner {
    0%{transform: rotate(0deg) ;}
    100%{transform: rotate(360deg);}
}

.tituloPage{
    text-align:left;
    margin: 2rem;
    font-size: 35px;
    color: rgb(225, 101, 44);
}

footer{
    background-color: black;
    height: 250px;
    margin-top: 180px; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{list-style-type: none;}
}

.footer__content{
    padding: 15px;
    p{
        padding: 15px 0;
        max-width: 300px;
    }
}

.footer__redes{
    ul{
        display: flex;

        li{
            padding: 15px;
        }
    }
}

.carrito{

    &__vacio{
        font-size: 20px;
        text-align: center;
        margin: 60px;

        p{
            margin: 60px;

        }

        button{
            width: 150px;
            height: 50px;
            border-radius: 4px;
        }
    }

    &__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid grey;
        padding: 20px;
        max-width: 1000px;
        margin: 30px;

        &__imagen{
            width: 130px;
        }

        &__info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 130px;

            h2{
                font-size: 18px;
                padding-bottom: 15px;
            }
        }

        &__botones{
            margin-left:300px;
        }
    }

    &__precioTotal{
        margin: 30px;
        font-size: 20px;
    }

}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px;


    &__input{
        padding: 10px;
        margin: 10px;
        width: 300px;
    }

    button{
        width: 200px;
    }
}

